@use '../base/vars' as *;


.buttonSticky {
    position: sticky;
    left: 90%;
    bottom: 2%;
    margin-right: 2rem;
    text-align: center;
    width: 8%;
    @media screen and (max-width: $tablet) {
        bottom: 4%;
        margin-right: 3rem;
    }
  }