@use '../base/vars' as *;

.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.homepagetitle {
  margin-top: 1rem;
  margin: 0 25%;
  padding-top: 1rem;
}

.containerblogs {
  @media screen and (min-width: $extra-large-screen) {
    margin-top: -9rem;
  }
}