@use '../base/vars' as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 1rem;

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: $tablet) {
    padding-bottom: 1rem !important;
  }
}

.title {
  color: $accent-gold;
  font-weight: 100;
}