@use '../base/vars' as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.footer {
    background-color: rgb(33, 37, 41) !important;
    padding: 2.5rem;
    color: #fff !important;
    text-align: center;

    a {
        color: rgba(255, 255, 255, 0.5490196078);
    }
}