@use '../base/vars' as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.footer {
    background-color: rgb(33, 37, 41) !important;
}