
// Colors
$white-main: #F8F9FA;
$accent-gold: #E2B658;
$secondary-black: black;
$accent-black: rgba(0, 0, 0, 0.55);
$grey50: rgb(50, 50, 50);

// Screen sizes
$mobile: 480px;
$tablet: 768px;
$desktop-medium: 1024px;
$desktop-large: 1200px;
$extra-large-screen: 1500px;