@use '../base/vars' as *;

.card {
  position: relative;
  margin: 2rem 0.5rem;
  overflow: hidden;
  box-shadow: 1px 8px 10px -5px rgba(0,0,0,0.46);
  border-radius: 6%;
  height: 90%;
  cursor: pointer;

  h2 {
    padding: 0.5rem 0rem;
    font-size: 1rem;
  }

  h3 {
    font-size: .5rem;
    text-align: end;
  }

  .pageViews {
    margin: 1rem 0rem;
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    color: $accent-gold;
    text-align: end;
  }

  .imgContainer {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 50%;
  }

  .viewCount {
    margin-left: 0.2rem;
  }

  img:hover {
    opacity: 0.8;
  }

  img {
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
  }

  .details {
    font-size: 0.8rem;
    font-style: italic;
    color: $grey50;
    text-align: center;
  }

  .text {
    padding: 1rem;
    justify-content: space-between;
    align-items: center; 
     // text accents
    .title {
      line-height: 1.6rem !important;
      font-weight: 500;
      color: $dark-main;
      text-align: center;
    }   
  }

  .datepublished {
    font-size: 0.75rem !important;
    color: $accent-gold !important;
  }

  .author {
    position: absolute;
    left: 70%;
    top: 70%;
    
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}
