@use '../base/vars' as *;

.blog {
  margin: 2.5% 10%;
  line-height: 1.6rem !important;

  ul {
    li {
      padding: 0.25rem;
      color: $accent-gold;
    }
  }

  table {
    width: 100%;

    tbody {
      border-bottom: 1px $accent-gold solid;

      tr:first-child {
        padding-top: 0.15rem;
        border-bottom: 1px $accent-gold solid;
      }
    }
  }

  a {
    color: $accent-gold !important;
    font-size: unset !important;
  }

  h3 {
    margin: 2rem 0;
  }
}

.navback {
  margin-bottom: 0.5rem;
}

.title {
  padding-top: 1rem;
}

.title h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.authdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authdetails img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.authdetails h6 {
  font-weight: 500;
}

.authtext {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cover {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.blog code {
  margin: 0% 25%;

  font-size: 1.2rem;
  background: rgb(55, 55, 55);
  color: rgb(246, 246, 246);
  display: block;
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 2rem;
}

.posttitle {
  font-size: xx-large;
  text-align: center;
}

.text {
  //margin: 2.5% 15%;
}

.ledgerComponent {
  a {
    padding-top: 3rem !important;
  }
}

@media screen and (max-width: $desktop-medium) {
  .blog {
    margin: 2.5% 0%;
  }
  .text {
    margin: 2.5% 6%;
  }
}

@media screen and (max-width: $tablet) {
  .blog {
    margin: 0rem 2rem;
  }

  .content {
    width: 100%;
  }

  .content img {
    width: 100%;
  }
  .text {
    margin: 2.5% 0%;
  }
}