.card {
  margin: 2rem 0.5rem;
  overflow: hidden;
  box-shadow: 15px 20px 40px rgba(216, 211, 211, 0.4);
  border-radius: 6%;
  height: 90%;
  cursor: pointer;

  h2 {
    padding: 0.5rem 0rem;
    font-size: 1rem;
  }

  h3 {
    font-size: .5rem;
    text-align: end;
  }

  .imgContainer {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 50%;
  }

  img:hover {
    opacity: 0.8;
  }

  img {
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
  }

  .details {
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0rem;
  }

  .text {
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .author {
    position: absolute;
    left: 70%;
    top: 70%;
    
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    @media screen and (min-width: 430px) {
      left: 75%;
      top: 75%;
    }

    @media screen and (min-width: 520px) {
      left: 80%;
      top: 80%;
    }
    @media screen and (min-width: 768px) {
      left: 72%;
      top: 70%;
    }
    @media screen and (min-width: 992px) {
      left: 66%;
      top: 66%;
    }
    @media screen and (min-width: 1200px) {
      left: 75%;
      top: 75%;
    }
  }
}