@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}

.navbar {
  padding-top: 1.1rem !important;
  padding-bottom: 1.1rem !important;
  padding-left: 5rem !important;
  padding-right: 2.5rem !important;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
  }
}

img {
  border-radius: 2%;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-family: "Brand";
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
}

p,
li {
  line-height: 1.5rem;
  font-family: "Roboto Slab", serif;
  padding: 1rem 0rem;
  font-size: 1.1rem;
}

ol,
ul {
  padding-left: 1.5rem;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }
  nav {
    padding: 3rem 0rem;
  }
}