@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.header {
    font-family: "Roboto", sans-serif !important;
    background-color: #0e0e0e;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
    div {
      color: white !important;
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      div {
        margin: 0 1rem 0 1rem;
      }
    }
    
  }

.title {
  font-weight: 100 !important;
}