@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.header {
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  background-color: #0e0e0e;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;


  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

.title, .accentbutton {
  color: #E2B658 !important;
  font-weight: 500;
}

.accentbutton {
  border: #E2B658 1px solid !important;
}

.accenttext {
  color: #E2B658 !important;
}
