.blog {
  margin: 2.5% 25%;
  ul {
    li {
      padding: 0.25rem;
      color: #E2B658;
    }
  }
  table {
    width: 100%;
    tbody {
      border-bottom: 1px #E2B658 solid;
      tr:first-child {
        padding-top: 0.15rem;
        border-bottom: 1px #E2B658 solid;
      }
    }
  }
}

.navback {
  margin-bottom: 0.5rem;
}

.title {
  padding-top: 1rem;
}

.title h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.authdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authdetails img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.authdetails h6 {
  font-weight: 500;
}

.authtext {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cover {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.blog code {
  margin: 0% 25%;

  font-size: 1.2rem;
  background: rgb(55, 55, 55);
  color: rgb(246, 246, 246);
  display: block;
  padding: 1rem;
  margin: 2rem 0rem;
  border-radius: 2rem;
}

.posttitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: xx-large;
}

@media screen and (max-width: 992px) {
  .blog {
    margin: 2.5% 12%;
  }  
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0rem 2rem;
  }

  .content {
    width: 100%;
  }

  .content img {
    width: 100%;
  }
}